* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
}


/* .navbarbar */


.navbar {
    display: flex;
    position: fixed;
    background-color: rgb(0, 238, 206);
    justify-content: space-between;
    /* padding: 13px 0; */
    color: white;
    height: 50px;
    align-items: center;
    right: 0;
    left: 0;
    z-index: 3;
}
.navbar ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    margin-right: 4%;
    /* margin-left: 300px; */
}
.navbar .logo {
    margin-left: 4%;
}
h1 {
    /* margin-right: 200px; */
    font-size: 20px;
    
}
.navbar ul li a {
    text-decoration: none;
    font-size: .8em;   
}
    /* animasi link  */
.navbar a:hover,
footer a:hover {
    background-color: aqua;
    color: black;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}
a {
    transition: .5s;
    color: white;
}

    /* hmburger menu */
.menu-toggle {
    margin-right: 4%;
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: relative;

}
.menu-toggle input {
    position: absolute;
    width: 38px;
    height: 18px;
    opacity: 0;
    left: -5px;
    top: -1px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 2.5px;
    background-color: white;
    border-radius: 3px;
    transition: all .5s;
    
}



/* hamburger animasi  */
.menu-toggle span:nth-child(2) {
    transform-origin:0 0 ;
}

.menu-toggle input:checked  ~ span:nth-child(2){
    background-color: black;
    transform: rotate(45deg) translate(-1px, -2px);
}
.menu-toggle span:nth-child(4) {
    transform-origin:0 100% ;
}

.menu-toggle input:checked  ~ span:nth-child(4){
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 2px);
}
.menu-toggle input:checked  ~ span:nth-child(3){
    transform: scale(0);
}




/* akhir .navbarbar */



/* container satu */
.satu .profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;

}
.satu h2 {
    margin: 10px 0;
    margin-bottom: 2px;
}
.satu span {
    font-size: 14px;
}

.satu .akun-sosmed {
    margin-top: 5px;
}

.satu .akun-sosmed img{
    width: 50px;
    filter: drop-shadow(3px 3px 10px white);
    margin: 10px;
    
}
/* akhir container satu */



/* container dua */
    /* about me */
.dua h2 {
    margin-top: -60px;
}
.dua .tentang {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.dua .tentang p {
    font-size: 14px;
    width: 500px;
    margin: 15px;      
}
/* akhir container dua */



/* container tiga */
    /* Portfolio */
.bingkai {
    margin: auto;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-bottom: 50px; */

}
.tiga .card {
    margin-top: 40px;
    width: 100px;
    /* height: 150px; */
    border: 2px solid white;
    background-color: rgb(224, 193, 224);
    border-radius: 4px;
    padding: 10px;
}
.card img {
    width: 100px;
}
.card p {
    font-size: 11px;
}
/* akhir container tiga */


/* container empat */

.empat h2{
    margin-top: 20px;
    
}
.empat ul li {
    margin: 12px;
}

/* akhir container empat */







/* container lima */
    /* contact me */
.lima form{
    align-items: left;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;

}
.lima label {
    text-align: left;
    padding-top: 20px;
}
.lima input {
    outline: none;
    border: none;
    background: rgb(192, 219, 214);
    padding-top: 20px;
}
.form .jeniskelamin {
    flex-direction: row;
}
.lima textarea {
    border: 1px solid rgb(0, 255, 234);
    height: 100px;
    margin-top: 20px;
    background-color: rgb(192, 219, 214);
    border-radius: 10px;
}
form .from-border {
    /* width: 500px; */
    height: 1px;
    background: -webkit-linear-gradient(left, rgb(174, 194, 209), rgb(0, 255, 242) );
}
.lima form button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
}
    /* animasi button */
button:hover {
    box-shadow: 0 0 5px 1px aqua;
    font-size: 16px;
}
/* akhir container lima */



/* container enam */
    /* footer */
.enam footer {
    color: white;
    font-size: 13px;
    padding: 17px;
}

footer a {
    text-decoration: none;
}
/* akhir container enam */



/* container */
.container {
    /* display: grid; */
    text-align: center;
    padding-top: 20px;
    background-color: rgb(192, 219, 214);
}
.satu {
    height: 350px;
    padding-top: 100px;
}

 .dua{
    background-color: rgb(224, 193, 224);
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    /* color: black; */
    /* height: 400px; */
}
.tiga {
    padding-bottom: 50px;
}
.empat {
    background-color: rgb(224, 193, 224);
    padding-bottom: 100px;
}

.lima {
    padding-bottom: 50px;
}
.enam {
    background-color: rgb(0, 238, 206);
    padding-top: 0;

}


 .garis {
    width: 160px;
    height: 4px;
    background-color: rgb(0, 255, 242);
    margin: 10px auto;
}






/* rsesponsif break point  */

@media  (min-width: 992px) {
    .gallery {
        width: 600px;
    
    }

    .next, .prev {
    top: 45%;

    }
}
@media  (max-width: 991px) {
    .bingkai {
        width: 600px;
        
    }
    .gallery {
        width: 460px;
    }
    .bingkai .card {
        margin: 10px;
    }
    .navbar ul {
        width: 40%;
    }

    
}
@media  (max-width: 759px) {
    .satu .akun-sosmed {
        margin-top: 10px;
    }

    .satu .akun-sosmed img {
        width: 35px;
       
    }

    .bingkai {
        width: 350px;
    }
    .bingkai .card {
        margin: 10px;
    }
    .gallery {
        width: 300px;
        margin-left: 10px;
        margin-right: 10px;
        
     }
     .overlay img {
        max-height: 100%;
        max-width: 90%;
        margin: 10px;
    
    }

    .next, .prev {
        bottom: 7%;
        left: 50%;
    } 
    




    .lima form {
        width: 200px;

    }
    .navbar {
        height: 40px;
    }
    .navbar h1 {
        font-size: 16px;
    }
    .navbar ul {
        position: absolute;
        /* width: 40%; */
        margin: 0;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: blue;
        height: 50vh;
        align-items: center;
        justify-content: space-evenly;
        transform: translateY(-100%);
        /* transform: translateX(100%); */
        transition: all .8s;
        border-radius: 0 0 0 30px;
        opacity: 0;
        box-shadow: 0 2px 2px black;
    }
    .menu-toggle {
        display: flex;
    }
    .navbar ul.slide {
        transform: translateY(0);
        /* transform: translateX(0); */
        opacity: 1;
    }

    .enam footer {
        font-size: 11px;
        padding: 15px;
    }
}

