

.gallery {
    background-color: rgb(228, 239, 248);

    width: 600px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;

}
.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 3px solid #666;
    float: left;
    margin-right: 10px;
    position: relative;
}

.gallery li,
.gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .7);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: .4s;
    transform: scale(0) rotate(0);
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: .6s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}
.overlay img {
    max-height: 100%;
    box-shadow: 1px 1px 4px white;

}

.overlay:target img {
    animation: zoom .9s;
}

.close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    line-height: 14px;
    opacity: 0;
}
.overlay:target .close,
.overlay:target .next,
.overlay:target .prev {
    animation: down .5s .5s forwards;
}



/* navigasi */
.next, .prev, .back {
    width: 50px;
    height: 50px;
    background-image: url(../../img/next.png);
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    margin-left: 50px;
    opacity: 0;
}
.prev {
    background-image: url(../../img/back.png);
    margin-left: -100px;
}

.back {
    opacity: 1;
    filter: drop-shadow(0px 0px 5px black);
    background-image: url(../../img/back.png);
    top: 7%;
}





/* animasi */
@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes down {
    0% {
        margin-top: -30px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}


.clear {
    clear: both;
}