* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


/* navbar */
nav {
    display: flex;
    background-color: blue;
    justify-content: space-around;
    padding: 13px 0;
    color: white;
}
nav ul {
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
    margin-left: 300px;
}
h1 {
    margin-right: 200px;
    font-size: 20px;
}
nav ul li a {
    text-decoration: none;
    font-size: .8em;   
}
    /* animasi link  */
nav a:hover,
footer a:hover {
    background-color: aqua;
    color: black;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}
a {
    transition: .5s;
    color: white;
}
/* akhir navbar */



/* container satu */
.satu img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.satu h2 {
    margin: 20px 0;
    margin-bottom: 2px;
}
.satu span {
    font-size: 14px;
}
/* akhir container satu */



/* container dua */
    /* about me */
.dua h2 {
    margin-top: -60px;
    margin-bottom: 60px;
}
.dua .tentang {
    display: flex;
    justify-content: center;
}
.dua .tentang p {
    font-size: 14px;
    width: 500px;
    margin: 15px;      
}
/* akhir container dua */



/* container tiga */
    /* Portfolio */
.bingkai {
    margin: auto;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;

}
.tiga .card {
    margin-top: 40px;
    width: 100px;
    height: 150px;
    border: 2px solid black;
    background-color: #f8f2f2;
    border-radius: 4px;
    padding: 10px;
}
.card img {
    width: 100px;
}
.card p {
    font-size: 11px;
}
/* akhir container tiga */


/* container empat */

.empat h2{
    margin: 20px 0;
}
.empat ul li {
    margin: 12px;
}

/* akhir container empat */







/* container lima */
    /* contact me */
.lima form{
    align-items: left;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}
.lima label {
    text-align: left;
    padding-top: 20px;
}
.lima input {
    outline: none;
    border: none;
    background: rgb(228, 239, 248);
    padding-top: 20px;
}
.lima textarea {
    border: 1px solid blue;
    height: 100px;
    margin-top: 20px;
    background-color: rgb(228, 239, 248);
    border-radius: 10px;
}
form .from-border {
    width: 500px;
    height: 1px;
    background: -webkit-linear-gradient(left, rgb(174, 194, 209), blue );
}
.lima form button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 10px;
}
    /* animasi button */
button:hover {
    box-shadow: 0 0 5px 1px aqua;
    font-size: 16px;
}
/* akhir container lima */



/* container enam */
    /* footer */
.enam footer {
    color: white;
    font-size: 13px;
    padding: 20px;
}
/* akhir container enam */



/* container */
.container {
    text-align: center;
    padding-top: 20px;
    background-color: rgb(228, 239, 248);
}
.satu {
    height: 350px;
}

 .dua{
    background-color: #f8f2f2;
    padding-top: 100px;
    box-sizing: border-box;
    height: 400px;
}
.empat {
    background-color: #f8f2f2;
    padding-bottom: 100px;
}

.lima {
    padding-bottom: 50px;
}
.enam {
    background-color: blue;
    padding-top: 0;

}
